@import url('main.css');

.left{
	display:inline-block;
}
.left {
	width:100%;	
}
.right {
	width:500px;
	float:right;
}
#map_canvas {
	width:500px;
	height:400px;
}
#address {
	text-align:center;
}
h2 {
	cursor:pointer;
	background-image:url('../img/minus.png');
	background-repeat:no-repeat;
	background-position:right center;
}
h2.collapsed {
	background-image:url('../img/plus.png');
}
.images a {
	border:none;	
}
.images img {
	border:2px solid #007FAD;
}